<div class="border border-zinc-300/90 shadow-sm shadow-zinc-300/20 rounded-lg p-3 dark:shadow-zinc-950/50 dark:bg-zinc-800/90 dark:border-zinc-600/80 dark:focus:ring-zinc-600/30 dark:focus:border-zinc-600 relative w-64 mx-auto flex flex-col items-center" style="width: 250px;">
  <div class="rounded h-[250px] w-[250px] bg-zinc-200 dark:bg-zinc-700 border dark:border-zinc-600/80 border-transparent mb-4 flex items-center justify-center">
    <span class="text-xl font-semibold text-zinc-900 dark:text-zinc-100"><%= partner['name'] %></span>
  </div>
  <h3 class="text-lg font-semibold text-zinc-900 dark:text-zinc-100 mb-2 text-center"><%= partner['name'] %></h3>
  <p class="text-sm text-zinc-700 dark:text-zinc-300 mb-2 text-center"><%= partner['owner'] %></p>
  <p class="text-sm text-zinc-700 dark:text-zinc-300 mb-2 text-center"><%= partner['color'] %></p>
</div>
