<li>
  <%= nav_link_to "Products", products_index_path, class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Partners", partners_index_path, class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "API", api_v1_products_path, class: "nav-link" %>
</li>
