<!-- app/views/products/index.html.erb -->
<div class="container mx-auto px-4 md:py-16 py-6">
  <div class="text-center">
    <h1 class="text-4xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">Products</h1>
    <p class="font-light text-base text-zinc-700 tracking-normal mt-3 dark:text-zinc-300">Explore our range of products.</p>
  </div>

  <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    <% @products.each do |product| %>
      <%= render partial: "product", locals: { product: product } %>
    <% end %>
  </div>

</div>
